<h3>Index event page</h3>

<%= link_to "Home", root_path %></br></br>
<%= link_to "Create Event", new_event_path %></br></br>

<% @events.each do |event| %>
<h2><%= link_to event.name, event_path(event) %></h2>
<% end %>
