
<%= link_to "Home", root_path %></br>
<%= link_to "Create a post", new_post_path %></br></br>

<% if @posts.count == 0 %>
<h3>There are no posts currently on this page</h3>
<% else %>
<% @posts.each do |post| %>
<h2><%= link_to post.car.manufacturer.name, post_path(post) %></h2>




<% end %>
<% end %>
