<h3>Index Manufacturer Page</h3>

<%= link_to "Home", root_path %></br></br>
<%= link_to "Create Manufacturer", new_manufacturer_path %></br></br>

<% @manufacturers.each do |manufacturer| %>
<h2><%= link_to manufacturer.name, manufacturer_path(manufacturer) %></h2>
<% end %>
